{% extends "base.html" %}

{% block content %}
{% url 'mgmt:meta' collection_name experiment_name channel_name as meta_url %}
{% url 'mgmt:channel' collection_name experiment_name channel_name as current_url %}

Manage BOSS Channel '{{ channel_name }}'<br/>
<br/>
<form action="{{ current_url }}?action=update" method="post" class="update {{ chan_error }}" id="Channel">
    {% csrf_token %}
    <table>
        <tr>
            <th><label>Creator:</label></th>
            <td>{{ channel.creator }}</td>
        </tr>
        {{ chan_form.as_table }}
    </table>
    <input type="submit" value="Update Channel" />
</form>
<br/>
<table>
    <thead>
        <tr>
            <th>Channel Meta Key</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for meta in metas %}
        <tr>
            <td><a href="{{ meta_url }}?key={{ meta }}">{{ meta }}</a></td>
            <td><a href="{{ current_url }}?rem_meta={{ meta }}">Remove Meta Key</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<div>
    <form action="{{ current_url }}?action=meta" method="post" class="add" id="Metadata">
        {% csrf_token %}
        <table>
            {{ meta_form.as_table }}
        </table>
        <input type="submit" value="Add Meta Value" />
    </form>
</div>
{% endblock %}
