{% extends "base.html" %}

{% block content %}
Manage BOSS Collection '{{ collection_name }}'<br/>
<br/>
<table>
    <tr>
        <td>Creator</td>
        <td>{{ collection.creator }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ collection.description }}</td>
    </tr>
</table>
<br/>
<table>
    <thead>
        <tr>
            <th>Experiment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for experiment in experiments %}
        <tr>
            <td>{{ experiment }}</td>
            <td><a href="/v0.7/mgmt/collection/{{ collection_name }}?rem_exp={{ experiment }}">Remove Experiment</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<table>
    <thead>
        <tr>
            <th>Coordinate Frame</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for coord in coords %}
        <tr>
            <td>{{ coord }}</td>
            <td><a href="/v0.7/mgmt/collection/{{ collection_name }}?rem_coord={{ coord }}">Remove Coordinate Frame</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<table>
    <thead>
        <tr>
            <th>Collection Meta Key</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for meta in metas %}
        <tr>
            <td>{{ meta }}</td>
            <td><a href="/v0.7/mgmt/collection/{{ collection_name }}?rem_meta={{ meta }}">Remove Meta Key</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<form action="/v0.7/mgmt/collection/{{ collection_name }}?action=exp" method="post">
    {% csrf_token %}
    {{ exp_form }}
    <input type="submit" value="Add Experiment" />
</form>
<br/>
<form action="/v0.7/mgmt/collection/{{ collection_name }}?action=coord" method="post">
    {% csrf_token %}
    {{ coord_form }}
    <input type="submit" value="Add Coordinate Frame" />
</form>
<br/>
<form action="/v0.7/mgmt/collection/{{ collection_name }}?action=meta" method="post">
    {% csrf_token %}
    {{ meta_form }}
    <input type="submit" value="Add Meta Value" />
</form>
{% endblock %}
