{% extends "base.html" %}

{% block content %}
{% url 'mgmt:meta' collection_name as meta_url %}
{% url 'mgmt:collection' collection_name as current_url %}

Manage BOSS Collection '{{ collection_name }}'<br/>
<br/>
<form action="{{ current_url }}?action=update" method="post" class="update {{ col_error }}" id="Collection">
    {% csrf_token %}
    <table>
        <tr>
            <th><label>Creator</label></th>
            <td>{{ collection.creator }}</td>
        </tr>
        {{ col_form.as_table }}
    </table>
    <input type="submit" value="Update Collection" />
</form>
<br/>
<table>
    <thead>
        <tr>
            <th>Experiment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for experiment in collection.experiments %}
        <tr>
            <td><a href="{% url 'mgmt:experiment' collection_name experiment %}">{{ experiment }}</a></td>
            <td><a href="{{ current_url }}?rem_exp={{ experiment }}">Remove Experiment</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<table>
    <thead>
        <tr>
            <th>Collection Meta Key</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for meta in metas %}
        <tr>
            <td><a href="{{ meta_url }}?key={{ meta }}">{{ meta }}</a></td>
            <td><a href="{{ current_url }}?rem_meta={{ meta }}">Remove Meta Key</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<div>
    <form action="{{ current_url }}?action=exp" method="post" class="add {{ exp_error }}" id="Experiment">
        {% csrf_token %}
        <table>
            {{ exp_form.as_table }}
        </table>
        <input type="submit" value="Add Experiment" />
    </form>
</div>
<br/>
<div>
    <form action="{{ current_url }}?action=meta" method="post" class="add {{ meta_error }}" id="Metadata">
        {% csrf_token %}
        <table>
            {{ meta_form.as_table }}
        </table>
        <input type="submit" value="Add Meta Value" />
    </form>
</div>
{% endblock %}
