{% extends "base.html" %}

{% block content %}
{% url 'mgmt:resources' as current_url %}

Manage BOSS Collections<br/>
<br/>
<table>
    <thead>
        <tr>
            <th>Collection</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for collection in collections %}
        <tr>
            <td><a href="{% url 'mgmt:collection' collection %}">{{ collection }}</a></td>
            <td><a href="{{ current_url }}?del_col={{ collection }}">Remove Collection</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<table>
    <thead>
        <tr>
            <th>Coordinate Frame</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for coord in coords %}
        <tr>
            <td><a href="{% url 'mgmt:coord' coord %}">{{ coord }}</a></td>
            <td><a href="{{ current_url }}?del_coord={{ coord }}">Remove Coordinate Frame</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<div>
    <form action="{{ current_url }}?action=col" method="post" class="add {{ col_error }}" id="Collection">
        {% csrf_token %}
        <table>
            {{ col_form.as_table }}
        </table>
        <input type="submit" value="Add Collection" />
    </form>
</div>
<br/>
<div>
    <form action="{{ current_url }}?action=coord" method="post" class="add {{ coord_error }}" id="Coordinate Frame">
        {% csrf_token %}
        <table>
            {{ coord_form.as_table }}
        </table>
        <input type="submit" value="Add Coordinate Frame" />
    </form>
</div>
{% endblock %}

