{% extends "base.html" %}

{% block content %}
{% url 'mgmt:groups' as current_url %}

Manage BOSS Groups<br/>
<br/>
<table>
    <thead>
        <tr>
            <th>Group</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            <td><a href="{% url 'mgmt:group' group %}">{{ group }}</a></td>
            <td><a href="{{ current_url }}?delete={{ group }}">Remove Group</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<form action="{{ current_url }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Group" />
</form>
{% endblock %}

