{% extends "base.html" %}

{% block content %}
Manage BOSS Groups<br/>
<br/>
<table>
    <thead>
        <tr>
            <th>Group</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            <td><a href="/v0.7/mgmt/group/{{ group }}">{{ group }}</a></td>
            <td><a href="/v0.7/mgmt/groups/?delete={{ group }}">Remove Group</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<form action="/v0.7/mgmt/groups/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Group" />
</form>
{% endblock %}

