{% extends "base.html" %}

{% block content %}
{% url 'mgmt:group' group_name as current_url %}

Manage BOSS Users for Group '{{ group_name }}'<br/>
<br/>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Permissions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user, perms in rows %}
        <tr>
            <td>{{ user }}</td>
            <td>{{ perms }}</td>
            <td>
                {% if user in members %}
                    <a href="{{ current_url }}?rem_memb={{ user }}">Remove Member</a>
                {% endif %}
                {% if user in maintainers %}
                    <a href="{{ current_url }}?rem_maint={{ user }}">Remove Maintainer</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<div>
    <form action="{{ current_url }}" method="post" class="add {{ perm_error }}" id="Permission">
        {% csrf_token %}
        <table>
            {{ perm_form.as_table }}
        </table>
        <input type="submit" value="Add Permission" />
    </form>
</div>
{% endblock %}
