{% extends "base.html" %}

{% block content %}
{% url 'mgmt:group' group_name as current_url %}

Manage BOSS Users for Group '{{ group_name }}'<br/>
<br/>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Permissions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user, perms in rows %}
        <tr>
            <td>{{ user }}</td>
            <td>{{ perms }}</td>
            <td>
                {% if user in members %}
                    <a href="{{ current_url }}?rem_memb={{ user }}">Remove Member</a>
                {% endif %}
                {% if user in maintainers %}
                    <a href="{{ current_url }}?rem_maint={{ user }}">Remove Maintainer</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<table>
    <thead>
        <tr>
            <th>Permitted Resources</th>
            <th>Permissions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for resource, perm in perms %}
        <tr>
            <td>{{ resource }}</td>
            <td>{{ perm }}</td>
            <td><a href="{{ current_url }}?rem_perms={{ resource }}">Remove All Permissions</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<div>
    <form action="{{ current_url }}?action=memb" method="post" class="add {{ memb_error }}" id="Permission">
        {% csrf_token %}
        <table>
            {{ memb_form.as_table }}
        </table>
        <input type="submit" value="Add User Permission" />
    </form>
</div>
<br/>
<div>
    <form action="{{ current_url }}?action=perms" method="post" class="add {{ perms_error }}" id="Permissions">
        {% csrf_token %}
        <table>
            {{ perms_form.as_table }}
        </table>
        <input type="submit" value="Edit Resource Permissions" />
    </form>
</div>
{% endblock %}
