{% extends "base.html" %}

{% block content %}
Manage {{ username }}'s API Token<br/>
<br/>
<table>
    <tr>
        <th><label>Token:</label></th>
        <td>
            {% if token %}
            <input type="text" size="40" value="{{ token }}" readonly />
            {% else %}
            {{ username }} doesn't currently have a BOSS token
            {% endif %}
        </td>
    </tr>
</table>
<br/>
<form action="{% url 'mgmt:token' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="{{ button }}" />
</form>
{% endblock %}
