{% extends "base.html" %}
{% load bootstrap %}

{% block subtitle %}
SSO Users
{% endblock %}

{% block content %}
{% url 'mgmt:users' as current_url %}

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{% url 'mgmt:user' user.username %}">{{ user.username }}</a></td>
            <td><a href="{{ current_url }}?delete={{ user.username }}">Remove User</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUser">Add User</button>
<div class="modal fade" tabindex="-1" role="dialog" id="addUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ current_url }}" method="post" class="add {{ user_error }} form-horizontal" id="User">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {{ user_form|bootstrap_horizontal }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add User</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
