{% extends "base.html" %}

{% block content %}
{% url 'mgmt:user' username as current_url %}

Manage SSO Roles for User '{{ username }}'<br/>
<br/>
<table>
    <thead>
        <tr>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for role in roles %}
        <tr>
            <td>{{ role }}</td>
            <td><a href="{{ current_url }}?remove={{ role }}">Remove Role</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<form action="{{ current_url }}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add Role" />
</form>
{% endblock %}
