{% extends "base.html" %}

{% block content %}
{% url 'mgmt:users' as current_url %}

Manage SSO User Accounts<br/>
<br/>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{% url 'mgmt:user' user.username %}">{{ user.username }}</a></td>
            <td><a href="{{ current_url }}?delete={{ user.username }}">Remove User</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<div>
    <form action="{{ current_url }}" method="post" class="add" id="User">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Add User" />
    </form>
</div>
{% endblock %}
