<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BOSS Management Console</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.2.6/css/hopscotch.min.css" integrity="sha256-nm80jD5Y3J3RtpevmFmhLygzONpOrmzESGEAVu8+m6M=" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.2.6/js/hopscotch.min.js" integrity="sha256-2LpD9zGKqCGmyhV77UjhhGAJFFjAokWgElLRwMW6qkU=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        var head = $("#contentTab");
        // DP NOTE: Create the tab menu links for each pannel that exists
        $(".tab-pane").each(function(i, pane) {
            if(i == 0) {
                $("#contentTab").addClass("nav").addClass("nav-tabs");
            }

            var tab = document.createElement("a");
            $(tab).addClass("nav-link")
            .attr("data-toggle", "tab")
            .attr("role", "tab")
            .attr("href", "#" + $(pane).attr("id"))
            .click(function (e) {
                e.preventDefault();
                $(this).tab("show");
                location.hash = $(this).attr("href");
            })
            .text($(pane).attr("id"));

            var item = document.createElement("li");
            $(item).addClass("nav-item").append(tab);

            head.append(item);
        });


        // DP NOTE: If there was a form error then show that
        //          forms tab and pop the form up. Else automatically
        //          show the tab selected by the URL fragment or the first tab
        var err = $("form.add.error");
        if(err.length == 0) {
            var hash = window.location.hash.substr(1);
            if (hash.length == 0) {
                $("#contentTab a:first").tab("show");
            } else {
                $("#contentTab a[href='#" + hash + "']").tab("show");
            }
        } else {
            var pane = err.parents(".tab-pane").attr("id");
            $("#contentTab a[href='#" + pane + "']").tab("show");
            err.parents(".modal").modal("show");
        }
    });
  </script>
</head>
<body class="container">
    <div class="page-header h1">
        BOSS Management Console <small>{% block subtitle %}{% endblock %}</small>
    </div>
    <div class="row">
        <div class="col-xs12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="nav navbar-nav">
                            {% if 'user-manager' in user_roles or 'admin' in user_roles %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" id="sso-dropdown">
                                    SSO <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'mgmt:users' %}">Manage Users</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if 'resource-manager' in user_roles or 'admin' in user_roles %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" id="boss-dropdown">
                                    BOSS <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'mgmt:groups' %}">Manage Groups</a></li>
                                    <li><a href="{% url 'mgmt:resources' %}">Manage Resources</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        <span class="navbar-text">
                            {% block breadcrumb %}{% endblock %}
                        </span>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" id="user-dropdown">
                                    {{ request.user.username }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="token" href="{% url 'mgmt:token' %}">API Token</a></li>
                                    <li><a id="logout" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    {% if page_error %}
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ page_error }}
             </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div id="content" class="col-xs-12">
            <ul id="contentTab" role="tabllist">
            </ul>
            <div class="tab-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>


