<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BOSS Management Console</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        var head = $("#contentTab");
        // DP NOTE: Create the tab menu links for each pannel that exists
        $(".tab-pane").each(function(i, pane) {
            if(i == 0) {
                $("#contentTab").addClass("nav").addClass("nav-tabs");
            }

            var tab = document.createElement("a");
            $(tab).addClass("nav-link")
            .attr("data-toggle", "tab")
            .attr("role", "tab")
            .attr("href", "#" + $(pane).attr("id"))
            .click(function (e) {
                e.preventDefault()
                $(this).tab("show")
            })
            .text($(pane).attr("id"));

            var item = document.createElement("li");
            $(item).addClass("nav-item").append(tab);

            head.append(item);
        });


        // DP NOTE: If there was a form error then show that
        //          forms tab and pop the form up. Else automatically
        //          show the first tab
        var err = $("form.add.error");
        if(err.length == 0) {
            // DP TODO: Figure out how to show the last tab that we were on
            $("#contentTab a:first").tab("show");
        } else {
            var pane = err.parents(".tab-pane").attr("id");
            $("#contentTab a[href='#" + pane + "']").tab("show");
            err.parents(".modal").modal("show");
        }
    });
  </script>
</head>
<body class="container">
    <div class="page-header h1">
        BOSS Management Console <small>{% block subtitle %}{% endblock %}</small>
    </div>
    <div class="row">
        <div id="menu" class="col-xs-2 list-group">
            <div class="list-group-item list-group-item-info">SSO</div>
            <a class="list-group-item" href="{% url 'mgmt:users' %}">Manage Users</a>
            <div class="list-group-item list-group-item-info">BOSS</div>
            <a class="list-group-item" href="{% url 'mgmt:token' %}">Token</a>
            <a class="list-group-item" href="{% url 'mgmt:groups' %}">Manage Groups</a>
            <a class="list-group-item" href="{% url 'mgmt:resources' %}">Manage Resources</a>
        </div>
        <div id="content" class="col-xs-10">
            <ul id="contentTab" role="tabllist">
            </ul>
            <div class="tab-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>


