{% load static %}
{% load staticfiles %}

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boss Management Console</title>

  <link rel="icon" type="image/png" href="{% static "img/favicon-16x16.png" %}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{% static "img/favicon-32x32.png" %}" sizes="32x32" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">

  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-table.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/sweetalert2.min.css" %}">
  {% block css %}{% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.2.6/css/hopscotch.min.css" integrity="sha256-nm80jD5Y3J3RtpevmFmhLygzONpOrmzESGEAVu8+m6M=" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.2.6/js/hopscotch.min.js" integrity="sha256-2LpD9zGKqCGmyhV77UjhhGAJFFjAokWgElLRwMW6qkU=" crossorigin="anonymous"></script>
  <script type="text/javascript">

    $(document).ready(function() {
      var head = $("#contentTab");
      // DP NOTE: Create the tab menu links for each pannel that exists
      $(".tab-pane").each(function(i, pane) {
        if(i == 0) {
          $("#contentTab").addClass("nav").addClass("nav-tabs");
        }

        var tab = document.createElement("a");
        $(tab).addClass("nav-link")
                .attr("data-toggle", "tab")
                .attr("role", "tab")
                .attr("id", "tab" + $(pane).attr("id"))
                .attr("href", "#" + $(pane).attr("id"))
                .click(function (e) {
                  e.preventDefault();
                  $(this).tab("show");
                  location.hash = $(this).attr("href");
                })
                .text($(pane).attr("id"));

        var item = document.createElement("li");
        $(item).addClass("nav-item").append(tab);

        head.append(item);
      });


      // DP NOTE: If there was a form error then show that
      //          forms tab and pop the form up. Else automatically
      //          show the tab selected by the URL fragment or the first tab
      var err = $("form.add.error");
      if(err.length == 0) {
        var hash = window.location.hash.substr(1);
        if (hash.length == 0) {
          $("#contentTab a:first").tab("show");
        } else {
          $("#contentTab a[href='#" + hash + "']").tab("show");
        }
      } else {
        var pane = err.parents(".tab-pane").attr("id");
        $("#contentTab a[href='#" + pane + "']").tab("show");
        err.parents(".modal").modal("show");
      }
    });


  </script>
</head>
<body class="boss">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url "mgmt:home" %}"><img id="boss_logo" class="navbar-brand brand-img" src="{% static "img/boss.png" %}"/></a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav">
          {% if 'user-manager' in user_roles or 'admin' in user_roles %}
            <li><a id="mng_users_btn" href="{% url 'mgmt:users' %}">Manage Users</a></li>
            <li role="separator" class="divider"></li>
          {% endif %}

          <li><a id="mng_groups_btn" href="{% url 'mgmt:groups' %}">Manage Groups</a></li>
          <li><a id="mng_resources_btn" href="{% url 'mgmt:resources' %}">Manage Resources</a></li>
          <li><a id="mng_ingest_btn" href="{% url 'mgmt:ingest' %}">Manage Ingest Jobs</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a id="tour_btn" href="#" onclick=start_tour(USER_ROLES)>
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Tour</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" id="user-dropdown">
              {{ request.user.username }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li id="token_dropdown"><a id="token" href="{% url 'mgmt:token' %}">API Token</a></li>
              <li><a id="logout" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<div class="boss container">
  <div class="page-header-custom h2">
    <div class="row">
      {% block title %}The Boss{% endblock %}
    </div>
    <div class="row">
      <small>{% block subtitle %}Management Console{% endblock %}</small>
    </div>
    <hr>
  </div>

  {% if page_error %}
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-danger">
          <a class="close" data-dismiss="alert">×</a>
          {{ page_error }}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">
    {% block content %}{% endblock %}
  </div>
</div>

<script type="text/javascript" src="{% static "js/bootstrap-table.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/sweetalert2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/utils.js" %}"></script>
<script type="text/javascript" src="{% static "js/tour.js" %}"></script>
<script type="text/javascript">
  //var API_ROOT= window.location.protocol + "//" + window.location.hostname + "/" + window.location.pathname.split("/")[1] + "/";
  var API_ROOT = window.location.protocol + "//" + window.location.hostname + "/" + "{% url 'mgmt:home' %}".split("/")[1] + "/";
  var MGMT_ROOT = window.location.protocol + "//" + window.location.hostname + "{% url 'mgmt:home' %}";
  var USER_ROLES= {% autoescape off %}{{ user_roles }}{% endautoescape %};
</script>

{% block js_includes %}{% endblock %}
</body>
</html>


