{% extends "base.html" %}
{% load mgmt %}

{% block subtitle %}
Channel {{ channel_name }}
{% endblock %}

{% block breadcrumb %}
<a class="navbar-link" href="{% url 'mgmt:collection' collection_name %}">{{ collection_name }}</a> /
<a class="navbar-link" href="{% url 'mgmt:experiment' collection_name experiment_name %}">{{ experiment_name }}</a> /
{{ channel_name }}
<br/>
{% endblock %}

{% block content %}
{% url 'mgmt:meta' collection_name experiment_name channel_name as meta_url %}
{% url 'mgmt:channel' collection_name experiment_name channel_name as current_url %}

<div class="tab-pane" id="Channel" role="tabpannel">
    {% mgmt_url current_url action="update" as update_url %}
    {% update_form chan_form chan_error "Update Channel" update_url Creator=channel.creator %}
</div>
<div class="tab-pane" id="Permissions" role="tabpannel">
    {% paginated_table perms %}
    <br/>
    {% mgmt_url current_url action="perms" as add_perms_url %}
    {% add_modal perms_form perms_error "Edit Permissions" add_perms_url %}
</div>
<div class="tab-pane" id="Meta" role="tabpannel">
    {% paginated_table metas %}
    <br/>
    {% mgmt_url current_url action="meta" as add_meta_url %}
    {% add_modal meta_form meta_error "Add Meta Value" add_meta_url %}
</div>
{% endblock %}
