{% extends "base.html" %}
{% load mgmt %}
{% load static %}

{% block title %}
Resources
{% endblock %}
{% block subtitle %}

{% endblock %}

{% block help_id %}resources-hopscotch{% endblock %}
{% block help_steps %}
    steps.push({
        title: "Collections",
        content: "Collections tab, with a table of visable collections and the ability to create or delete Collections",
        target: "tabCollections",
        placement: "bottom",
    });
    steps.push({
        title: "Coordinate Frames",
        content: "Coordinate Frames tab, with a table of visable collections and the ability to create or delete Coordinate Frames",
        target: "tabCoordinateFrames",
        placement: "bottom",
    });

    if($("#Collections:visible").length) {
        steps.push({
            title: "Visible Collections",
            target: document.querySelectorAll("#Collections th")[0],
            placement: "top",
        });
        steps.push({
            title: "Delete Collections",
            target: document.querySelectorAll("#Collections th")[1],
            placement: "top",
        });
        steps.push({
            title: "Add Collection",
            target: document.querySelector("#Collections > button"),
            placement: "top",
        });
    }

    if($("#CoordinateFrames:visible").length) {
        steps.push({
            title: "Visable Coordinate Frames",
            target: document.querySelectorAll("#CoordinateFrames th")[0],
            placement: "top",
        });
        steps.push({
            title: "Delete Coordinate Frames",
            target: document.querySelectorAll("#CoordinateFrames th")[1],
            placement: "top",
        });
        steps.push({
            title: "Add Coordinate Frame",
            target: document.querySelector("#CoordinateFrames > button"),
            placement: "top",
        });
    }
{% endblock %}

{% block content %}
{% url 'mgmt:resources' as current_url %}

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Collections</h3>
              </div>
              <div id="collections_toolbar">
                {% add_modal col_form col_error "Add Collection" add_col_url %}
              </div>
              <div class="panel-body">
                  <table id="collection_table"
                         data-toggle="table"
                         data-response-handler="collection_handler"
                         data-ajax="get_collections"
                         data-side-pagination="client"
                         data-sort-name="name"
                         data-pagination="true"
                         data-search="true"
                         data-page-size="10"
                         data-striped="true"
                         data-cache="false"
                         data-toolbar="#collections_toolbar"
                         data-show-refresh="true">
                      <thead>
                      <tr>
                          <th data-field="name">Collection Name</th>
                          <th data-field="actions">Actions</th>
                      </tr>
                      </thead>
                  </table>

              </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Coordinate Frames</h3>
              </div>
              <div class="panel-body">
                  CF TABLE
                {% add_modal coord_form coord_error "Add Coordinate Frame" add_coord_url %}
              </div>
            </div>
        </div>
    </div>



    {% mgmt_url current_url action="col" as add_col_url %}



    <br/>
    {% mgmt_url current_url action="coord" as add_coord_url %}

{% endblock %}


{% block js_includes %}
<script type="text/javascript" src="{% static "js/collections.js" %}"></script>
{% endblock %}

