{% extends "base.html" %}
{% load mgmt %}

{% block subtitle %}
Resources
{% endblock %}

{% block help_id %}resources-hopscotch{% endblock %}
{% block help_steps %}
    steps.push({
        title: "Collections",
        content: "Collections tab, with a table of visable collections and the ability to create or delete Collections",
        target: "tabCollections",
        placement: "bottom",
    });
    steps.push({
        title: "Coordinate Frames",
        content: "Coordinate Frames tab, with a table of visable collections and the ability to create or delete Coordinate Frames",
        target: "tabCoordinateFrames",
        placement: "bottom",
    });

    if($("#Collections:visible").length) {
        steps.push({
            title: "Visable Collections",
            target: document.querySelectorAll("#Collections th")[0],
            placement: "top",
        });
        steps.push({
            title: "Delete Collections",
            target: document.querySelectorAll("#Collections th")[1],
            placement: "top",
        });
        steps.push({
            title: "Add Collection",
            target: document.querySelector("#Collections > button"),
            placement: "top",
        });
    }

    if($("#CoordinateFrames:visible").length) {
        steps.push({
            title: "Visable Coordinate Frames",
            target: document.querySelectorAll("#CoordinateFrames th")[0],
            placement: "top",
        });
        steps.push({
            title: "Delete Coordinate Frames",
            target: document.querySelectorAll("#CoordinateFrames th")[1],
            placement: "top",
        });
        steps.push({
            title: "Add Coordinate Frame",
            target: document.querySelector("#CoordinateFrames > button"),
            placement: "top",
        });
    }
{% endblock %}

{% block content %}
{% url 'mgmt:resources' as current_url %}

<div class="tab-pane" id="Collections" role="tabpannel">
    {% paginated_table collections %}
    <br/>
    {% mgmt_url current_url action="col" as add_col_url %}
    {% add_modal col_form col_error "Add Collection" add_col_url %}
</div>
<div class="tab-pane" id="CoordinateFrames" role="tabpannel">
    {% paginated_table coords %}
    <br/>
    {% mgmt_url current_url action="coord" as add_coord_url %}
    {% add_modal coord_form coord_error "Add Coordinate Frame" add_coord_url %}
</div>
{% endblock %}

