{% extends "base.html" %}
{% load mgmt %}

{% block subtitle %}
Group {{ group_name }}
{% endblock %}

{% block content %}
{% url 'mgmt:group' group_name as current_url %}

<div class="tab-pane" id="Users" role="tabpannel">
    {% paginated_table users %}
    <br/>
    {% mgmt_url current_url action="memb" as add_memb_url %}
    {% add_modal memb_form memb_error "Add User Permission" add_memb_url %}
</div>
<div class="tab-pane" id="Permissions" role="tabpannel">
    {% paginated_table perms %}
    <br/>
    {% mgmt_url current_url action="perms" as add_perms_url %}
    {% add_modal perms_form perms_error "Edit Resource Permissions" add_perms_url %}
</div>
{% endblock %}
