{% extends "base.html" %}
{% load bootstrap %}

{% block title %}API Token{% endblock %}
{% block subtitle %}Long-lived token for programmatic API access{% endblock %}

{% block content %}
<form action="{% url 'mgmt:token' %}" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-sm-2 col-lg-2">Token</label>
        <div class="col-sm-10 col-md-6">
            {% if token %}
                <input id="token_val" class="form-control" type="text" value="{{ token }}" readonly />
            {% else %}
                <input id="token_val" class="form-control" type="text" value="" readonly />
            {% endif %}
        </div>
    </div>
    {% if user.username != public_access_username %}
    <div class="form-group">
        <div class="col-sm-2 col-lg-2"></div>
        <div class="col-sm-10 col-lg-10">
            <button id="gen_token_btn" type="submit" class="btn btn-primary">{{ button }}</button>
        </div>
    </div>
    {% endif %}
</form>
{% endblock %}

{% block js_includes %}
   <script type="text/javascript">
    $(function () {
      if (hopscotch.getState() === "boss-tour:6") {
        hopscotch.startTour(tour);
      }
    });
  </script>
{% endblock %}