{% extends "base.html" %}
{% load mgmt %}

{% block subtitle %}
User {{ username  }}
{% endblock %}

{% block content %}
{% url 'mgmt:user' username as current_url %}

<div class="tab-pane" id="User" role="tabpannel">
    <form class="form-horizontal">
        {% for key,value in rows %}
        <div class="form-group">
            <label class="control-label col-sm-2 col-lg-2">{{ key }}</label>
            <div class="col-sm-10 col-lg-10">
                <input class="form-control" type="text" readonly value="{{ value }}"/>
            </div>
        </div>
        {% endfor %}
    </form>
</div>
<div class="tab-pane" id="Roles" role="tabpannel">
    {% paginated_table roles %}
    <br/>
    {% add_modal role_form role_error "Add Role" current_url %}
</div>
{% endblock %}
