# For CI testing on CircleCI, this file copied into /etc/boss on the Docker
# container.

[system]    
fqdn = endpoint.test.boss    
type = endpoint    
    
[consul]    
cluster =    
    
[vault]    
url = http://vault:8200    
token = 
    
[aws_mngr]    
num_sessions = auto    
    
[aws]    
db = endpoint-db.test.boss    
meta-db = bossmeta.test.boss    
cache = cache.test.boss    
cache-state = cache-state.test.boss    
cache-db = 0    
cache-state-db = 0    
s3-bucket =
s3-index-table = s3index.test.boss
s3-flush-queue = https://sqs.us-east-1.amazonaws.com/8395829333/S3flushtestBoss
s3-flush-deadletter-queue = https://sqs.us-east-1.amazonaws.com/8395829333/DeadlettertestBoss
cuboid_bucket = cuboids.test.boss
tile_bucket = tiles.test.boss
ingest_bucket = ingest.test.boss
tile-index-table = tileindex.test.boss
id-index-table = idIndex.test.boss
id-count-table = idCount.test.boss
sns-write-locked = some_sqs_arn
downsample-queue = https://sqs.us-east-1.amazonaws.com/8395829333/downsampleQueueBoss

[auth]
OIDC_VERIFY_SSL = True

[lambda]
page_in_function = multiLambda-test-boss
flush_function = multiLambda-test-boss
ingest_function = multiLambda-test-boss
downsample_volume = downsample-lambda
tile_uploaded_function = foo

[sfn]
downsample_volume_sfn = downsample_vol
downsample_sfn = downsample
